*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(61, 1, 61);
    background: linear-gradient(135deg,rgb(89, 4, 89),blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.calc{
    position: relative;
    color: black;
    background-color: black;
    width: 100%;
    max-width: 310px;
    border-radius: 20px;
    padding: 20px 40px 40px;
    box-shadow: 10px;
    
}
button{
height: 50px;
width: 50px;
padding: 10px;
margin: 10px;
border-radius: 50%;
border: none;
background-color: rgb(57, 9, 74);
font-size: 20px;
    
}
.op{
    color: rgb(107, 0, 157);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(29, 0, 24);
}
input{
    width: 280px;
    height: 60px;
    background-color: black;
    border: none;
    color: rgb(149, 10, 219);
    outline: none;
    font-size: 25px;
    text-align: right;
}
